doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="style.css")
  body
    #gallery
      button#left Left
      #slider
        .slide
          img(src="https://a2ua.com/mountains/mountains-007.jpg")
      button#right Right
    script(src="script.js")
