doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="style.css")
    script(src="script.js")
    script(src="//twemoji.maxcdn.com/2/twemoji.min.js?2.2.2")
  body
    #gallery
      button#left &#8592
      #slider
        img(src="https://a2ua.com/mountains/mountains-007.jpg")
        #description
      button#right &#8594
