body {
  margin: 0;
}
#gallery {
  width: 100vw;
  height: 100vh;
  background-color: #2f2f31;
  overflow: hidden;
}
#gallery button {
  margin: 5px;
}
#gallery #controls {
  height: 50px;
  text-align: right;
}
#gallery #left,
#gallery #right {
  position: absolute;
  display: none;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  font-size: 26px;
  border-radius: 50%;
  border: none;
  background-color: #4b5f5f;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#gallery #right {
  right: 0;
}
#gallery #slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gallery #slider img {
  max-width: 100%;
  height: auto;
}
#gallery #slider #description {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100vw;
  height: 100px;
  background-color: rgba(0,0,0,0.4);
  overflow: hidden;
}
#gallery #slider #description p {
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 26px;
}
