body
  margin: 0
#gallery
  width: 100vw
  height: 100vh
  background-color: #2F2F31
  overflow: hidden
  button
    margin: 5px
  #controls
    height: 50px
    text-align: right
  #left, #right
    position: absolute;
    display: none
    top 50%
    height 50px
    width 50px
    margin-top -25px
    font-size 26px
    border-radius: 50%
    border: none
    background-color: #4B5F5F
    color: white
    box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  #right
    right 0
  #slider
    width 100%
    height: 100%
    display flex
    justify-content: center
    align-items: center
    img
      max-width 100%
      height auto
      max-height: 100%
      image-orientation: from-image
    #description
      position absolute
      left: 0
      bottom: 0px
      width 100vw
      height 100px
      background-color: rgba(black, 0.4)
      overflow hidden
      p
        padding: 10px 0
        color white
        text-align center
        font-size: 26px
      img.emoji
        margin 0px !important
        display: inline !important
